<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="dbserver" value="Data Source=;Initial Catalog=;Integrated Security=true" />
  </appSettings>
</configuration>
<!--ProjectGuid: D4B36AA2-B08A-40BB-9696-D02F6A887E65-->